body {
  margin: 0;
  font-family: 'Montserrat', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card {
  height: 425px;
    padding: 30px;
    width: 470px;
    border-radius: 30px;
    border: 1px solid #D0D0D0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dark-blue {
  color: #2323BE;
}
.items-head{
  border: 1px solid #E9E9E9;
}
.sign-in {
  background-color: #2323BE;
  border-radius: 20px;
}
form input {
  color: #A3AED0;
  font-weight: 600px!important;
}
.form-check-input:checked {
  background-color: #2323BE!important;
}
font-400 {
  font-weight: 400;
}
.gray {
  color: #4F5B67;
}
.font-18{
  font-size: 18px;
}
.item-4 {
  background-color: #F5F8FE;
}
.table {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(132,132,248,0.5189426112241772) 100%);
}
.grey-2 {
  color: #9CA9B6;
}
.span-dash {
color:#4F5B67 ;
font-weight: bold;
}
.dashboard-button {
width: 115.75px;
height: 40px;
left: 769px;
top: 28px;
background: #8484F8;
box-shadow: 0px 4px 4px rgba(241, 233, 233, 0.25);
border-radius: 15px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 30px;
color: #FAFAFA;
width: 113px;
height: 40px;
left: 898px;
top: 28px;
}
.red {
background: #FF513A;
box-shadow: 0px 4px 4px rgba(241, 233, 233, 0.25);
border-radius: 15px;
display: flex;
flex-direction: row;
align-items: center;
padding: 14px 25px;
gap: 8px;
width: 153px;
height: 41px;
left: 1022px;
top: 27px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 30px;
color: #FAFAFA;
}
.specials {
background-color: #E7E5E5;
color: #666666;
font-weight: 600;
}
.specials .form-check-input {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
.customerCard .form-check-input {
    width: 25px;
    height: 25px;;
}
.customerCard p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #A8B0B9;
  margin: 0!important;
}
.col-71 {
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
}
form-check{
  width: calc(100% / 7)!important;
}
.actions span {
  color:#fff ;
  background-color: #D6DADE;
  padding: 5px 15px;
  border-radius: 15px;
  display: flex;
}
.search input{
  border-radius: 12px;
}
.footer-text {
  color: #121F3E;
  font-weight: 600;
}
.number span {
  color: #717D8A;
  background-color:#FAFAFA;
  margin-left: 6rem;
}
.numbers{
  background-color: #F1F7FF;
  padding: 10px 15px;
  border-radius: 15px;
}
.number1 {
  background-color: #8484F8;
  color: #fff;
  padding: 10px 15px;
  border-radius: 15px;
}
.status span{
  background-color: #44C13C;
  color: #fff;
  padding: 10px 15px;
  border-radius: 15px;
}