body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card {
  height: 425px;
    padding: 30px;
    width: 470px;
    border-radius: 30px;
    border: 1px solid #D0D0D0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dark-blue {
  color: #2323BE;
}
.sign-in {
  background-color: #2323BE;
  border-radius: 20px;
}
form input {
  color: #A3AED0;
  font-weight: 600px!important;
}
.form-check-input:checked {
  background-color: #2323BE!important;
}
font-400 {
  font-weight: 400;
}
.gray {
  color: #4F5B67;
}
.font-14 {
  font-size: 14px;
}